version: "3.8"

services:
  mongo:
    build: ./mongo
    container_name: football-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./server
    container_name: football-backend
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/football-ecom
      - JWT_SECRET=secret
      - PORT=5000
    depends_on:
      - mongo

  frontend:
    build:
      context: ./client
      args:
        - REACT_APP_API_URL=http://localhost:5000/api
    container_name: football-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  mongo_data:
